<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title><%= pageTitle %></title>

    <!-- Icons font CSS-->
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Register CSS-->
    <link href="/css/register.css" rel="stylesheet" media="all">
</head>

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Log in</h2>
                
                <!-- Display an error message -->
                <div>
                    <% if(errorMessage) { %>
                         <div class="user-message user-message--error"><%= errorMessage %></div>
                    <% } %>
                </div>

                <form action="/login-user" method="POST">

                    <!--Username -->
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email">
                            </div>
                        </div>
                    </div>

                    <!--Password -->
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label-over-password-reset">Password</label>
                                <input class="input--style-4" type="password" name="password">
                            </div>
                        </div>
                    </div>

                    <!-- Reset Password redirect -->
                    <div class="p-t-15">
                        <div>
                            <a href="./reset-page">Forgot password?</a>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="login-btn btn--radius-2 btn--blue" type="submit">Log in</button>
                        </div>
                    </div>
                </form>

                <!--Register Button redirect -->
                <div class="p-t-15">
                    <label class="not-registered-label">Don't have a user?</label>
                    <div>
                        <a class="login-btn btn--radius-2 btn--blue" href="./register">Register Now</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

</body>

</html>
<!-- end document-->